<div class="footer-wrapper">
  <img class="logo" src="./assets/images/logo-white.svg" alt="easybank logo">
  <div class="socials">
    <img src="./assets/images/icon-facebook.svg" alt="facebook logo">
    <img src="./assets/images/icon-youtube.svg" alt="youtube logo">
    <img src="./assets/images/icon-twitter.svg" alt="twitter logo">
    <img src="./assets/images/icon-pinterest.svg" alt="pinterest logo">
    <img src="./assets/images/icon-instagram.svg" alt="instagram logo">
  </div>
  <nav class="navigation">
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>
  <nav class="navigation">
    <ul>
      <li>
        <a href="#">Careers</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
  </nav>
  <button class='btn-request'>
    Request Invite
  </button>
  <span class="copyrights text">
    © Easybank. All Rights Reserved
  </span>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/szczepanieceryk">Eryk Szczepaniec</a>.
  </div>
</div>
