// import custom SCSS variables
@use '../../custom' as c;

.footer-wrapper{
    padding: 20px;
    text-align: center;
    background-color: c.$dark-blue;
    .logo{
        margin: 20px auto;
    }
    .socials{
        img{
            margin: 10px;
            &:hover{
                cursor: pointer;
                fill: c.$lime-green;
            }
        }
    }
    .copyrights{
        font-size: 14px;
    }
    .btn-request{
        max-height: 46px;
    }
    .navigation{
        li{
            margin: 15px 0;
            list-style: none;

        }
        a{
            text-decoration: none;
            color: hsl(0, 0%, 98%);
            transition: .3s;
            &:hover{
                color: c.$lime-green;
            }
        }
    }
}
@media screen and(min-width:769px){
    .footer-wrapper{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        .logo{
            max-width:140px;
            max-height:20px;
        }
        .socials{
            flex-basis:25%;
        }
       .navigation{
            flex-basis:15%;
        }
        .attribution{
            flex-basis:100%;
        }
        .copyrights{
            flex-basis: 100%;
            margin: 10px auto;
        }
    }
}

@media screen and(min-width:1201px){
    .footer-wrapper{
        padding: 20px 100px;
    }
}
@media screen and(min-width:1600px){
    .footer-wrapper{
        padding: 20px 150px;
    }
}