// import custom SCSS variables
@use '../../custom' as c;

.top-nav-wrapper-desktop{
    display: none;
    .logo{     
        margin: 20px 20px;
        max-width:140px;
        max-height:20px;
    }
    .btn-request{
        margin: 0 auto;
        max-height: 46px;
    }
}
.top-nav-wrapper-mobile{
    padding: 20px;
    position: relative;
    svg{
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .exit-icon{
        display: none;
    }
    
    .navigation{    
        margin: 30px auto;
        padding: 20px;
        display: none;
        position: fixed;
        width: 90%;
        text-align: center;
        border-radius: 6px;
        background-color: c.$white;
        li{
            margin: 20px auto;
            list-style: none;
        }
        a {
            text-decoration: none;
        }
    }

    // active states for mobile menu
    .exit-icon.active{
        display: block;
    }
    .hamburger-icon.active{
        display: none;
    }
    .navigation.active{
        display: block;
    }
}

// navigation for desktop
@media screen and(min-width:1025px){
    .top-nav-wrapper-mobile{
        display: none;
    }
    .top-nav-wrapper-desktop{
        padding:20px 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .btn-request{
            top:30px;
            right: 100px;
            position: absolute;
        }
        .navigation{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            max-width:600px;
           ul{
            margin-left: 100px;
            display: flex;
            flex-basis: 100%;
           }
            li{
                margin: 20px auto;
                flex-basis: 20%;
                list-style: none;
            }
            a {
                margin: 10px;
                padding-bottom: 30px;
                text-decoration: none;
                color: c.$grayish-blue;
                &:hover{
                    border-bottom: 4px solid c.$lime-green;
                }
            }
        }
    }
}

@media screen and(min-width:1201px){
    .top-nav-wrapper-desktop{
        padding: 20px 100px;
    }
}
@media screen and(min-width:1600px){
    .top-nav-wrapper-desktop{
        padding: 20px 150px;
        .btn-request{
            top:30px;
            right: 150px;
            position: absolute;
        }
    }
}