*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans',Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.btn-request{
    margin: 30px auto 20px;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    display: block;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));    
    &:hover{
        cursor: pointer;
        background: linear-gradient(to right, hsl(136, 100%, 66%), hsl(192, 100%, 71%));    
    }
}
.attribution { 
    margin:20px auto;
    font-size: 11px; 
    text-align: center;
    a{
        color: hsl(228, 45%, 44%);
 }
}
.text,small {
    color: hsl(233, 8%, 62%);
}

// .header-wrapper,.main-wrapper,.top-nav-wrapper-desktop,.articles-wrapper{
//     margin: 0 auto;
//     max-width: 1700px;
// }